<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <!-- 基础存储权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />
    
    <!-- Android 13+ 媒体文件权限 -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <uses-permission android:name="android.permission.READ_MEDIA_VISUAL_USER_SELECTED" />
    
    <!-- 全部文件访问权限 (Android 11+) -->
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <application
        android:name=".HookApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Native"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        tools:targetApi="31">
        <activity
            android:name=".ui.CrashActivity"
            android:exported="false"
            android:theme="@style/Theme.Native"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.MainActivity"
            android:exported="true"
            android:configChanges="uiMode|screenSize|smallestScreenSize|screenLayout|orientation|keyboardHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- 支持从文件管理器打开 SO 文件 -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="file" />
                <data android:scheme="content" />
                <data android:mimeType="application/x-sharedlib" />
                <data android:mimeType="application/x-executable" />
                <data android:mimeType="application/octet-stream" />
                <data android:pathPattern=".*\\.so" />
                <data android:pathPattern=".*\\.elf" />
            </intent-filter>

            <!-- 支持通过 SEND 分享 SO 文件到本应用 -->
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="application/x-sharedlib" />
                <data android:mimeType="application/octet-stream" />
            </intent-filter>

            <!-- 支持通过 SEND_MULTIPLE 分享多个文件 -->
            <intent-filter>
                <action android:name="android.intent.action.SEND_MULTIPLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="application/x-sharedlib" />
                <data android:mimeType="application/octet-stream" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.FunctionListActivity"
            android:parentActivityName=".ui.MainActivity" />
        <activity
            android:name=".ui.CodeViewActivity"
            android:parentActivityName=".ui.FunctionListActivity" />
        <activity
            android:name=".ui.StringsActivity"
            android:parentActivityName=".ui.MainActivity" />
        <activity
            android:name=".ui.PltActivity"
            android:parentActivityName=".ui.MainActivity" />
        <activity
            android:name=".ui.FunctionDetailActivity"
            android:parentActivityName=".ui.FunctionListActivity" />
        <activity
            android:name=".ui.RegisterNativesActivity"
            android:parentActivityName=".ui.MainActivity" />
        <activity
            android:name=".ui.SettingsActivity"
            android:parentActivityName=".ui.MainActivity" />
        <activity
            android:name=".ui.DebuggerActivity"
            android:parentActivityName=".ui.FunctionDetailActivity" />

        <!-- FileProvider for sharing files via content:// URI -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>